[submodule "editor/themes/hugo-paper"]
	path = editor/themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper.git
[submodule "editor/themes/hugo-coder"]
	path = editor/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
