body {
    padding: 1em;
    min-height: 100vh;
    background-size: cover;
    z-index: -2;
    position: relative;
    background-attachment: fixed;
}

[data-theme="light"] body {
    background-image: url('/static/images/pexels-jessbaileydesign-743986.jpg');
}

[data-theme="dark"] body {
    background-image: url('/static/images/pexels-suzyhazelwood-10359558.jpg');
}

p {
    text-align: justify;
}

#logo {
    max-height: 150px;
    margin-top: 10px;
    width: auto;
    margin-left: 10px;
    margin-right: 30px;
}

.alert {
    margin-bottom: 1em;
}

.toastui-editor-file-select-button, .toastui-editor-ok-button, .toastui-editor-close-button {
    padding: 0;
}

#toastuiAltTextInput, #toastuiLinkUrlInput, #toastuiLinkTextInput, #toastuiImageUrlInput {
    background: white;
}

.githubimg {
    width: 100px;
    height: 100px;
    margin: 1em;
    background-image: url('/static/images/github-mark.png');
    background-size: contain;
}

[data-theme="dark"] .githubimg {
    background-image: url('/static/images/github-mark-white.png');
}

.moon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 8px 8px 0 0 white;
}

.moonlink {
    display: inline-block;
    float: right;
    z-index: 1;
    padding: 12px;
    margin: -12px;
    position: relative;
    left: -20px;
    top: -6px;
}

.sunlink {
    display: inline-block;
    float: right;
    z-index: 1;
    font-family: 'bubblefont';
    font-size: 48px;
    margin-left: 12px;
    color: var(--pico-h1-color);
    text-decoration: none;
    position: relative;
    top: -21px;
    left: -6px;
} 

[data-theme="light"] .moonlink {
    display: none;
}

[data-theme="dark"] .sunlink {
    display: none;
}

.container {
    backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 2em;
    padding-bottom: 1em;
    padding-top: 1.56em;
}

main.container {
    z-index: -1;
    position: relative;
}

[data-theme="light"] .container {
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(200, 200, 200, 0.4);
}

[data-theme="dark"] .container {
    border: 1px solid;
    background-color: rgba(19, 22.5, 30.5, 0.2);
    border-color: rgba(19, 22.5, 30.5, 0.4);
}

:where(a:not([role="button"])), [role="link"] {
    transition: none;
}

hgroup {
    margin-bottom: 0;
}

header.container {
    margin-bottom: 2em;
    padding-top: 1.2em;
    padding-bottom: 2.2em;
}

[data-theme="dark"] {
    --pico-color: white;
}

@media (max-width: 576px) {
    header {
        height: 72px;
    }

    header.container {
        padding-bottom: 3.5em;
    }
}

.smallbutton {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.smallform {
    max-width: 400px;
}
