{% extends "base.html" %}
{% load static %}

{% block title %}Themes{% endblock %}

{% block heading %}Themes{% endblock %}

{% block content %}
    <form method='post' id="section_form">
        {% csrf_token %}
        {% for theme in available_themes %}
	    <button name='theme' {% if theme == site.theme %}disabled{% endif %} value='{{theme}}'><img style='width: 150px; height: auto;' src='{% static 'theme-previews/'%}{{theme}}.png'/><br />{{theme}}</button>
        {% endfor %}
    </form>
{% endblock %}
