{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="{% static 'pico/pico.min.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'nav.css' %}">

        {% block head %}{% endblock %}

        <title>{% block title %}{% endblock %} - Makes Human Art</title>
    </head>

    <body>
        <header class="container" style='height: 72px;'>
            <hgroup>
                <a class="moonlink" href="#" data-theme-switcher="light"><div class='moon'></div></a>
                <a class="sunlink" href="#" data-theme-switcher="dark">☼</a>
                <h1>{% block heading %}{% endblock %}</h1><br />
            </hgroup>
            <nav role="menu">
                <label data-role="burger"><input type="checkbox" /></label>
                <ul role="menuitem">
                    <li><a href='/'>Welcome</a></li>
                    <li><a href='https://discord.gg/sqWyFthayE'>Discord</a></li>
                    <li><a href='/donate'>Donate</a></li>
                    <li><a href='/support'>Support</a></li>
                    {% if logged_in %}
                    <li><a href='/editor'>Editor</a></li>
                    <li><a href='/logout'>Logout</a></li>
                    {% else %}
                    <li><a href='/apply'>Register</a></li>
                    <li><a href='/login'>Login</a></li>
                    {% endif %} 
                </ul>
            </nav>
        </header>

        <main class="container">
            {% block messages %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible
                            {% if message.level_tag == 'error' %}
                                alert-danger
                            {% else %}
                                alert-{{ message.tags }}
                            {% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock messages %}

            {% block content %}{% endblock %}
        </main>
        
        <script type="text/javascript" src="{% static 'js/minimal-theme-switcher.js' %}"></script>
    </body>
</html>
