{% extends "base.html" %}
{% load static %}

{% block title %}Donate{% endblock %}

{% block heading %}Donate{% endblock %}

{% block content %}
    <p>Please don't feel any pressure to donate if you're not currently in a financial situation to do so. I've designed Makes Human Art to be very cheap to keep running, and am happy to pay for it out of my own pocket for as long as I'm able.</p>

    <p>However, if you are able to donate it will help us to do more things, e.g.</p>

    <ul>
        <li>Provide hosting for a larger number of artists</li>
        <li>Offer a wider range of domain options</li>
        <li>Commission custom themes</li>
        <li>Develop new features</li>
        <li>Safeguard the platform's future</li>
    </ul>

    <h2>Regular Donations</h2>

    <p>Regular donations are the most helpful, as they allow for easier future planning. It's possible to make regular donations through a couple of different platforms:</p>

    <center style='margin-top: 1.5em;'>
        <div style='width: 300px;'>
            <div style='width: 150px; float: left;'>
                <a href='https://github.com/sponsors/Elleo?frequency=recurring&sponsor=Elleo'>
                    <div class='githubimg'></div>
                    GitHub Sponsors
                </a>
            </div>

            <div style='width: 150px; padding-top: 55px; float: left;'>
                <a href="https://liberapay.com/Elleo/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"><br /><br /><br />
                Liberapay</a>
            </div>
        </div>
	
    </center>

    <h2 style='clear: both; padding-top: 1em;'>One-Off Donations</h2>

    <p>If you're more comfortable making occassional one-off donations these can be accepted via:</p>

    <center style='margin-top: 1.5em;'>
        <div style='width: 150px;'>
            <a href='https://github.com/sponsors/Elleo?frequency=one-time&sponsor=Elleo'>
                <div class='githubimg'></div>
                GitHub Sponsors
            </a>
        </div>
    </center>


{% endblock %}
