{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block heading %}Welcome{% endblock %}

{% block content %}
    <p>Makes Human Art will be a free hosting service for artists, writers and poets, providing a simple way to host a portfolio, a biography, or anything else you'd like to share with the world.</p>

    <p>When you sign up you'll receive a free subdomain of the format <strong>yourname.makeshuman.art</strong>. Optionally, you can also make use of your own domain name (e.g. <strong>yourname.com</strong>). You can switch this at any time, so you can start with a <strong>makeshuman.art</strong> domain and then purchase your own from a third party when you're ready.</p>

    <p>Makes Human Art will be entirely funded by donations, but is designed from the start to be extremely cheap to keep running. Additional funding can be used to help pay for developer time to add new features, improve existing ones or to increase the variety of domains offered.</p>

    <p><strong>AI produced content is explicitly forbidden from this service.</strong></p>

    <p><em>Note: I'm still developing the underlying technology to support this service, as such sign-ups are not yet publicly available, but I hope to have everything ready soon.</em></p>
{% endblock %}
