{% extends "base.html" %}
{% load static %}

{% block title %}Support{% endblock %}

{% block heading %}Support{% endblock %}

{% block content %}

    <h2>Discord</h2>

    <p>You can get help from both myself (Mike) and  other members of the Makes Human Art community on our <a href='https://discord.gg/sqWyFthayE'>Discord server's #support channel</a>

    <h2>E-mail</h2>

    <p>If Discord isn't your thing, you can drop me an email directly: <a href='mailto:mike@makeshuman.art'>mike@makeshuman.art</a></p>

{% endblock %}
